.container {
    padding: 20px 15px;
}

.form{
    width: 350px;
}

.inputGroup{
    display: flex;
    flex-direction: column;

    padding: 15px;

    border: 1px solid;
    border-radius: 10px;
}

.label{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 500;
}

.input{
    width: 200px;
    padding: 5px;
    margin-bottom: 20px;
}

.btn {
    width: 120px;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid rgb(188, 188, 188);
    border-radius: 5px;
    cursor: pointer;
}